{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Password rest {% endblock title%}

{% block content%}
<div class="container" style="padding:6px;">
    <div class="row">
        <div class="col-md-8">
            <h1> Password reset </h1>
            <p> Enter your email to reset your password</p>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success" value="Change" style="margin-top: 5px;">
            </form>
        </div>
    </div>
</div>
{% endblock content %}